<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        
        <beans>
        
        <bean id="rahul" class="com.vijay.Student">
        <property name="id" value="1023" />
        <property name="name" value="rahul kumar" />
        <property name="marks" value="545" />
        
        
        </bean>
        </beans>